.titulo {
  font-size: 25px;
  text-align: left;
  margin: 20px;
}

.list-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 15px;
  margin: 10px;
  border: solid 2px rgb(214, 128, 15);
  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
  background-color: rgb(240, 243, 238);
  padding: 10px;
  border: solid gray 1px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 350px;
  width: 300px;
  align-items: center;
  text-decoration: none;
}

.card:hover {
  border: solid rgb(214, 128, 15) 1px;
}

.img-card {
  height: 250px;
  width: 250px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.data-prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.item-detail {
  order: solid gray 1px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 500px;
  width: 280px;
  align-items: center;
}

.detalle-prod {
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  background-color: rgb(238, 235, 207);
  border: solid 1px rgb(71, 67, 54);
  border-radius: 5px;
  color: black;
}

.detalle-prod:hover {
  background-color: rgb(236, 223, 105);
}

.card-detalle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
