.encabezado {
    background-color: #ffee00;
    height: 110px;
    display: flex;
    align-items: center;
}

.logo {
    height: 90px;
    padding-left: 200px;
    padding-right: 200px;
}

.buscador {
    height: 35px;
    width: 450px;
    border-radius: 5px;
}
