.navBar {
    background-color: rgb(47, 47, 110);
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    color: white;    
    padding: 0;
    margin: 0;
    border-top: solid white 3px;
    border-bottom: solid white 3px;
}

.rubro {
    cursor: pointer;
}

.rubro:hover {
    color:rgb(214, 184, 15)
}
